<VirtualHost *:10000>
    ServerAdmin admin@example.com
    ServerName mirror.example.com
    DocumentRoot /var/www/astra-linux
    AstraMode off
    <Directory /var/www/astra-linux>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/astra-linux_error.log
    CustomLog ${APACHE_LOG_DIR}/astra-linux_access.log combined
</VirtualHost>
